<h2><%= @merchant.name %>'s Bulk Discounts</h2>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <p>* Percentage Discount: <%= (discount.percentage * 100).to_i %>% off, Quantity Threshold: <%= discount.minimum_quantity %> <%= link_to "See Discount", merchant_bulk_discount_path(@merchant.id, discount.id), method: :get %></p>
  </section>
<% end %>
