<%= link_to "Home Page", "/" %> |
<%= link_to "My Items", "/merchant/#{@merchant.id}/items" %> |
<%= link_to "My Invoices", "/merchant/#{@merchant.id}/invoices" %>

<h2>Invoice #<%= @invoice.id %></h2>
<p>Status: <%= @invoice.status %></p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Total Revenue: <%= currency(@invoice_items.total_revenue) %></p>
<p>Total Revenue with Discounts Applied: <%= currency(@discount) %></p>

<h3>Customer:</h3>
<p><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h3>Items on this Invoice:</h3>
<% @invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Price: <%= currency(invoice_item.unit_price) %></p>
    <% if @invoice_items.discount_percent.include?(invoice_item) %>
      <p>Discount Applied: <%= link_to "#{invoice_item.find_discount_id}", "/merchant/#{@merchant.id}/bulk_discounts/#{invoice_item.find_discount_id}", method: :get %></p>
    <% end %>

    <%= form_with url: "/merchant/#{@merchant.id}/invoices/#{@invoice.id}/invoice_items/#{invoice_item.id}", method: :patch do |form| %>
      <%= form.label :status, "Status: " %>
      <%= form.select :status, options_for_select(["pending", "packaged", "shipped"], selected: "#{invoice_item.status}") %>
      <%= form.submit "Update Item Status" %>
    <% end %>
  </div>
<% end %>
